<div class="col-md-9 col-md-offset-2">
    <h4>Install via bower:</h4>
    <pre class="prettyprint"><code class="lang-bash">bower install cordova-data</code></pre>
    <h4>Or Download:</h4>
    <p><a href="">Development</a></p>
    <p><a href="">Minified</a></p>
    <h4>Then add script tag to your main html:</h4>
    <pre class="prettyprint"><code class="lang-html">&lt;script src=&quot;lib/cordova-data.min.js&quot;&gt;&lt;/script&gt;</code></pre>
    <h4>Add an angularjs module dependency:</h4>
    <pre class="prettyprint"><code class="lang-js">angular.module('myApp', ['cordovaData']);</code></pre>
    <h4>Visit the API Reference page for further usage.</h4>
</div>
